.footer {
    background-color: #232824;
    padding: 57px 0 52px 0;
    color: $white;
    margin-top: 130px;

    @media (max-width: 768px) {
        padding: 48px 0 50px 0;
        margin-top: 55px;
    }

    // .footer__container
    &__container {}

    // .footer__body
    &__body {}

    // .footer__top
    &__top,
    &__bottom {
        display: grid;
        grid-template-columns: 33.75% 1fr 280px;
        gap: 20px;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: 26px;
        }
    }

    // .footer__top
    &__top {
        @media (max-width: 1024px) and (min-width: 769px) {
            grid-template-columns: 1fr 1fr;
            gap: 60px;
        }

        @media (max-width: 768px) {
            gap: 30px;
        }

        nav {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 63px 95px;
            max-width: 607px;

            @media (max-width: 1024px) {
                gap: 60px;
            }

            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
                gap: 35px;
            }

            ul {
                font-size: 15px;
                font-weight: 600;

                & > :first-child {
                    text-transform: uppercase;
                    opacity: 0.5;
                    margin-bottom: 24px;
                    font-weight: 500;

                    @media (max-width:768px) {
                        font-size: 13px;
                        margin-bottom: 20px;
                    }
                }

                li:not(:last-child) {
                    margin-bottom: 17px;

                    @media (max-width:768px) {
                        margin-bottom: 14px;
                    }
                }
            }
        }
    }

    // .footer__logo
    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;

        a {
            display: block;
            width: 203px;
            height: 60px;

            @media (max-width: 768px) {
                width: 133px;
                height: 39px;
            }

            img,
            svg {
                width: 203px;

                @media (max-width: 768px) {
                    width: 133px;
                    height: 39px;
                }
            }
        }

        span {
            color: #333834;
            font-family: "RF Takt";
            font-size: 60px;
            font-weight: 800;
            line-height: 90%;
            text-transform: uppercase;

            @media (max-width: 1024px) {
                font-size: 45px;
            }

            @media (max-width: 768px) {
                font-size: 30px;

                br {
                    display: none;
                }
            }
        }
    }

    // .footer__contacts
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media (max-width: 1024px) {
            align-items: flex-start;
        }

        // .footer__contacts-list
        &-list {
            display: flex;
            flex-direction: column;
            gap: 24px;

            @media (max-width: 768px) {
                gap: 20px;
            }

            & > a,
            & > span {
                border-top: 1px solid rgba($color: $white, $alpha: 0.1);
                padding-top: 24px;
                display: flex;
                gap: 10px;
                font-size: 15px;

                @media (max-width: 768px) {
                    padding-top: 20px;
                    font-size: 14px;
                }

                img,
                svg {
                    width: 24px;
                    height: 24px;
                    flex: 0 0 auto;

                    @media (max-width: 768px) {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }

    .social {
        padding-top: 24px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        display: flex;
        align-items: center;
        gap: 6px;

        @media (max-width: 768px) {
            padding-top: 20px;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 auto;

            img,
            svg {
                width: 50px;
                height: 50px;
                object-fit: contain;
                flex: 0 0 auto;
            }
        }
    }

    // .footer__phone
    &__phone {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 35px;
        white-space: nowrap;

        @media (max-width: 1024px) {
            font-size: 30px;
        }

        @media (max-width: 768px) {
            margin-bottom: 21px;
        }
    }

    // .footer__bottom
    &__bottom {
        position: relative;
        margin-top: 90px;
        padding-top: 50px;
        font-size: 13px;

        @media (max-width: 768px) {
            margin-top: 20px;
            padding-top: 20px;
        }

        & > :first-child {
            font-size: 15px;

            @media (max-width: 768px) {
                margin-bottom: -10px;
                font-size: 13px;
            }
        }

        & > :last-child {
            display: flex;
            align-items: center;
            gap: 10px;

            @media (min-width: 769px) {
                justify-content: flex-end;
            }

            img,
            svg {
                width: 72px;
            }
        }

        &:before {
            position: absolute;
            content: '';
            left: -50vw;
            top: 0;
            width: 150vw;
            border-top: 1px solid rgba($color: $white, $alpha: 0.1);

            @media (max-width: 768px) {
                left: 0;
                width: 100%;
            }
        }
    }
}