.catalog-menu {
    @media (min-width:1025px) {
        position: fixed;
        z-index: 16;
        left: 0;
        top: 145px;
        width: 100%;
        height: auto;
        background-color: $white;
        border: 1px solid #F0F0F0;
        padding-top: 50px;
        padding-bottom: 40px;
        //animation
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s ease 0s;
    }

    @media (max-width:1024px) {
        display: none;
        margin-top: 26px;
    }

    &._open {
        pointer-events: all;
        opacity: 1;

        @media (max-width:1024px) {
            display: block;
        }
    }

    @media (max-width:1024px) {
        // top: 141px;
        // height: calc(100vh - 141px);
        // overflow-y: auto;
    }

    @media (max-width:768px) {
        // height: calc(100vh - 86px);
        // top: 86px;
    }

    ._container {
        @media (max-width:1024px) {
            padding-inline: 0;
        }
    }

    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 37px 67px;

        @media (max-width:1200px) {
            gap: 30px;
        }

        @media (max-width:1024px) {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        li {
            display: flex;
            gap: 34px;

            @media (max-width:1200px) {
                gap: 20px;
            }

            @media (max-width:1024px) {
                flex-direction: row-reverse;
                justify-content: space-between;
            }

            &:has(a:only-child) {
                align-items: center;
            }

            a {
                display: block;
                margin-bottom: 12px;
                font-size: 18px;
                color: #303030;

                @media (max-width:1200px) {
                    font-size: 16px;
                    margin-bottom: 8px;
                }

                @media (max-width:768px) {
                    font-size: 14px;
                    margin-bottom: 6px;
                }

                &:first-child {
                    color: #141414;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 100%;
                    letter-spacing: -0.24px;
                    text-transform: uppercase;
                    font-family: 'RF Takt';

                    @media (max-width:1200px) {
                        font-size: 20px;
                    }

                    @media (max-width:768px) {
                        font-size: 18px;
                    }
                }

                &:nth-child(2) {
                    margin-top: 24px;

                    @media (max-width:1200px) {
                        margin-top: 20px;
                    }

                    @media (max-width:768px) {
                        margin-top: 16px;
                    }
                }
            }

            span {
                flex: 0 0 auto;
                width: 106px;
                height: 106px;
                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width:768px) {
                    width: 62px;
                    height: 62px;
                }

                img,
                svg,
                picture {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}

.menu {
    position: fixed;
    z-index: 16;
    left: 0;
    top: 141px;
    width: 100%;
    height: calc(100vh - 141px);
    background-color: $white;
    border: 1px solid #F0F0F0;
    padding-top: 15px;
    padding-bottom: 40px;
    overflow-y: auto;
    //animation
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease 0s;

    @media (max-width:1024px) {
        overflow-y: auto;
    }

    @media (max-width:768px) {
        height: calc(100vh - 86px);
        top: 86px;
        padding-bottom: 24px;
    }

    &._open {
        @media (max-width:1024px) {
            pointer-events: all;
            opacity: 1;
        }
    }

    ._container {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .header__catalog {
        height: 40px;
        font-size: 15px;
        background-color: $accent_dark;
        color: $white;
        margin-bottom: -9px;

        .open {}

        .close {}
    }

    .loc {
        margin-right: auto;
        display: flex;
        gap: 3px;
        font-size: 15px;

        img,
        svg {
            flex: 0 0 auto;
            width: 14px;
            height: 14px;
            margin-top: 2px;
        }
    }

    form {
        height: 40px;
        width: 100%;
        border-radius: 10px;
        background-color: #F8F8F8;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 15px;
        padding: 10px 14px;

        &::placeholder {
            color: #A1A1A1;
        }

        input {
            flex: 1 1 auto;
            max-width: 85%;
        }

        img,
        svg {
            flex: 0 0 auto;
            width: 18px;
            height: 18px;
        }
    }

    // .menu-nav
    &-nav {
        ul {
            display: flex;
            flex-direction: column;
            gap: 22px;

            a {
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 600;

                &:hover {
                    color: $accent_dark;
                }

                &:has(img, svg) {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    img,
                    svg {
                        width: 20px;
                        height: 20px;
                        flex: 0 0 auto;
                    }
                }

                &[href*="akczii"] {
                    flex-direction: row-reverse;
                    justify-content: flex-end;

                    &:before {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }

    // .menu-contacts
    &-contacts {
        display: flex;
        flex-direction: column;
        gap: 14px;

        a {
            font-size: 15px;
            color: $accent_dark;
        }
    }
}