.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 16;
    background-color: rgba($color: $black, $alpha: 0.3);
    //animation
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease 0s;
    overflow-y: auto;

    &._open {
        pointer-events: all;
        opacity: 1;
    }

    @media (max-width:768px) {
        background-color: $white;
    }

    // .popup-close
    &-close {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width:768px) {
            right: 14px;
            width: 38px;
            height: 38px;
        }

        @media (any-hover: hover) {
            &:hover {

                img,
                svg {
                    transform: rotate(180deg);
                }
            }
        }

        img,
        svg {
            width: 16px;
            height: 16px;
            flex: 0 0 auto;
            pointer-events: none;
            stroke: $black;
            stroke-width: 2px;
            transition: transform 0.3s ease 0s;

            @media (max-width:768px) {
                width: 20px;
                height: 20px;
                stroke-width: 1.4px;
            }
        }
    }

    // .popup-content
    &-content {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 36px 65px 57px 65px;
        background-color: $white;
        border-radius: 20px;
        margin-top: 182px;
        margin-bottom: 60px;
        margin-inline: auto;
        width: 540px;

        @media (max-width:768px) {
            margin-top: 0;
            margin-bottom: 0;
            border-radius: 0;
            padding: 86px 20px;
            gap: 20px;
            width: 100%;
        }

        h3 {
            @include adaptive-value('font-size', 40, 32, 1);
            text-align: center;
        }
    }

    // .popup-subtitle
    &-subtitle {
        @include adaptive-value('font-size', 18, 14, 1);
        color: #303030;
        text-align: center;
        margin-bottom: 12px;
    }

    // .popup-product
    &-product {
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 10px 34px;
        @include adaptive-value('font-size', 18, 14, 1);
        color: #303030;
        border-radius: 10px;
        border: 1px solid #F0F0F0;

        @media (max-width:768px) {
            gap: 12px;
            padding: 10px;
        }

        span {
            width: 52px;
            height: 52px;
            flex: 0 0 auto;

            img,
            picture {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    &#thanks,
    &#error {
        .popup-content {
            align-items: center;
            gap: 24px;

            & > img,
            & > svg {
                width: 64px;
                height: 64px;

                @media (max-width:768px) {
                    width: 35px;
                    height: 35px;
                    margin-bottom: 10px;
                }
            }

            .popup-subtitle {
                margin-bottom: 0;
            }
        }
    }

    .form__privacy {
        margin: 26px 0;
    }
}

.mobile-socilas {
    position: fixed;
    right: 26px;
    bottom: 26px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 7px;

    @media (min-width:1025px) {
        display: none;
    }

    a {
        width: 50px;
        height: 50px;

        img,
        svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.popup-added-to-cart {
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 10;
    top: 240px;
    right: 120px;
    background-color: #F6FAEB;
    border-radius: 10px;
    padding: 10px 20px;

    @media (max-width:1440px) {
        right: 40px;
    }

    @media (max-width:1024px) {
        right: 20px;
        top: 180px;
    }

    @media (max-width:768px) {
        padding: 8px;
        top: 120px;
    }

    // animation
    opacity: 0;
    pointer-events: none;
    transform: translate(50px, 0);
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            opacity: 1;
            pointer-events: all;
            transform: translate(0, 0);
        }
    }

    &._active {
        opacity: 1;
        pointer-events: all;
        transform: translate(0, 0);
    }

    img,
    svg {
        width: 18px;
        height: 13px;
        flex: 0 0 auto;

        @media (max-width:768px) {
            width: 14px;
            height: 10px;
        }
    }

    span {
        margin: 0 19px 0 9px;
        color: #413C3C;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -0.2px;
        @include adaptive-value('font-size', 20, 14, 1);

        @media (max-width:768px) {
            margin: 0 10px 0 5px;
        }
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 40px;
        padding: 8px 14px;
        border-radius: 10px;
        background-color: $black;
        color: $white;
        text-align: center;
        line-height: 120%;
        letter-spacing: -0.32px;
        @include adaptive-value('font-size', 16, 12, 1);

        @media (any-hover: hover) {
            &:hover {
                background-color: $accent_dark;
            }
        }

        @media (max-width:768px) {
            height: 34px;
            padding: 6px 12px;
        }
    }
}

.popup-cookies {
    position: fixed;
    z-index: 16;
    left: 30px;
    bottom: 30px;
    max-width: 580px;
    width: calc(100% - 40px);
    display: flex;
    gap: 30px;
    background-color: #EEF4EE;
    border-radius: 10px;
    padding: 25px;

    @media (max-width:768px) {
        left: 20px;
        right: 20px;
        bottom: 20px;
        flex-direction: column;
        gap: 10px;
        padding: 15px;
    }

    p {
        font-size: 12px;
        letter-spacing: -0.01em;
        color: #605D5D;

        @media (max-width:768px) {
            font-size: 10px;
        }

        a {
            color: $accent_dark;

            &:hover {
                color: $accent;
            }
        }
    }

    ._btn {
        font-size: 14px;
        font-weight: 700;
        height: 35px;
        padding: 8px 16px;
        border-radius: 5px;

        @media (max-width:768px) {
            font-weight: 500;
        }
    }

    &._hide {
        display: none;
    }
}